{% extends "base.html" %}

{% block title %}Parça Listesi{% endblock %}

{% block content %}
    <h1>Parça Listesi</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Parça ID</th>
                <th>Uçak</th>
                <th>Parça Tipi</th>
                <th>Stok Adedi</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            {% for parca in parcalar %}
            <tr>
                <td>{{ parca.id }}</td>  <!-- Parça ID'sini göster -->
                <td>{{ parca.ucak.ad }}</td>
                <td>{{ parca.parca_tipi }}</td>
                <td>{{ parca.stok_adedi }}</td>
                <td>
                    <!-- Geri Dönüşüme Gönder Butonu -->
                    <form action="{% url 'parca_sil' parca.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Geri Dönüşüme Gönder</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
